* {
    margin: 0;
    padding: 0;
}

#welcome-section { 
    background: linear-gradient( rgb(202, 158, 151) 70%,rgb(156, 116, 109));
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#welcome-section h1 {
    font-size: 50px;
}

#welcome-section h3 {
    font-size: 20px;
    font-style: italic;
    color: #CC1515;
}

h2 {
    text-align: center;
    background-color: rgb(156, 116, 109);
    font-size: 30px;
    color: rgb(255, 232, 232);
}

nav {
    position: fixed;
    text-align: right;  
    background-color: #CC1515;
    width: 100vw;
    padding: 1em 0em;
    border-bottom: 1px solid white;
}

nav a {
    text-decoration: none;
    margin-right: 5%; 
    color: white; 
}

#projects {
    padding: 5em 0;
    background: linear-gradient(rgb(156, 116, 109) 70%,rgb(126, 90, 83));
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    width: 99vw;
}

.project-tile {
    border: 1px solid white;
    width: 350px;
    height: 350px;
    margin-bottom: 5em;
    background-color: rgb(255, 71, 71);
}

.project-tile p {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 18px;
    padding-top: 1.5em;
}

a {
    text-decoration: none;
}

img {
    width: 350px;
    border-bottom: 1px solid white;
}

#contact {
    text-align: center; 
    background-color: rgb(126, 90, 83);
}

.logo {
    width: 10vh;
    border-bottom: none;
    padding: 0 3em;
    padding-bottom: 5em; 
}

@media (max-width: 600px) {
    .logo {
        padding: 0 2em;
        padding-bottom: 5em; 
    }
}